{include file="includes/topo.html"}
{include file="includes/menu.html"}
<link rel="stylesheet" type="text/css" href="http://localhost/estagio/static/js/shadowbox.css">
<script type="text/javascript" src="http://localhost/estagio/static/js/shadowbox.js"></script>
<script type="text/javascript" src="http://localhost/estagio/static/js/validacao.js"></script>

<script type="text/javascript">
Shadowbox.init({  
	language: 'pt',  
	player: ['img', 'html', 'swf']  
});
</script>
{literal}
<script type="text/javascript">
$(document).ready(function() {	
	{/literal}
{if $edit == 'false'}	
	{if $tipo_pessoa == 'f'}
	$("#pessoa_fisica").show();
	$("#pessoa_fisica1").show();
	$("#pessoa_fisica2").show();
	$("#pessoa_juridica").hide();
	$("#pessoa_juridica1").hide();
	$("#pessoa_juridica2").hide();
	{else}
	$("#pessoa_fisica").hide();
	$("#pessoa_fisica1").hide();
	$("#pessoa_fisica2").hide();
	$("#pessoa_juridica").show();
	$("#pessoa_juridica1").show();
	$("#pessoa_juridica2").show();
	{/if}
{else}
   {if isset($clientes->tipo_pessoa)}
		{if $clientes->tipo_pessoa == 'f'}
		$("#pessoa_fisica").show();
		$("#pessoa_fisica1").show();
		$("#pessoa_fisica2").show();
		$("#pessoa_juridica").hide();
		$("#pessoa_juridica1").hide();
		$("#pessoa_juridica2").hide();
		{else}
		$("#pessoa_fisica").hide();
		$("#pessoa_fisica1").hide();
		$("#pessoa_fisica2").hide();
		$("#pessoa_juridica").show();
		$("#pessoa_juridica1").show();
		$("#pessoa_juridica2").show();
		{/if}  
	{/if}

   {if count($smarty.post) > 0}
        {if $smarty.post.tipo_pessoa == 'f'}
        $("#pessoa_fisica").show();
        $("#pessoa_fisica1").show();
        $("#pessoa_fisica2").show();
        $("#pessoa_juridica").hide();
        $("#pessoa_juridica1").hide();
        $("#pessoa_juridica2").hide();
        {else}
        $("#pessoa_fisica").hide();
        $("#pessoa_fisica1").hide();
        $("#pessoa_fisica2").hide();
        $("#pessoa_juridica").show();
        $("#pessoa_juridica1").show();
        $("#pessoa_juridica2").show();
        {/if}  
    {/if}    


{/if}
	{literal}
	
});
function somente_txt(par_tecla)
{
         var var_tecla = par_tecla.keyCode ? par_tecla.keyCode : par_tecla.which;
         /* Tecla Backspace */
		 if (var_tecla == 9)
                  {return true;}
         if (var_tecla == 8)
                  {return true;}
         /* Tecla Space */
         if (var_tecla == 32)
                  {return true;}
         /* Teclas a-z e A-Z */
         if ((var_tecla > 64 && var_tecla < 91) || (var_tecla > 96 && var_tecla < 123))
                  {return true;}
         /* Teclas acentuadas e cidilha */
         if ((var_tecla > 191 && var_tecla < 221) || (var_tecla > 223 && var_tecla < 253))
                  {return true;}
         return false;
}
function SomenteNumero(e){
 var tecla=(window.event)?event.keyCode:e.which;
 if((tecla>47 && tecla<58)) return true;
 else{
 if (tecla==8 || tecla==0) return true;
 else  return false;
 }
}


jQuery(function($){
   $("#cpf").mask("999.999.999-99");
   $("#cep").mask("99999-999"); 
   $("#cnpj").mask("99.999.999/9999-99");
    $("#data_admissao").mask("9999-99-99"); 
   $("#tel").mask("(99)9999-9999"); 
   $("#tel1").mask("(99)9999-9999");
   $("#tel2").mask("(99)9999-9999");
   $("#money").mask('000.000.000.000.000,00', {reverse: true});
    $("#money2").mask('000.000.000.000.000,00', {reverse: true});
 });
</script>
 <script>
$(function() {
    $("#data_nascimento").datepicker({
       changeMonth: true, changeYear: true, yearRange: '1950:2010',
		dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
  
    });
});
</script>
{/literal}

</head>

	<section id="main" class="column">
		
		<article class="module width_full">
		<header><h3 class="tabs_involved">Cliente</h3>
		<ul class="tabs">
   			<li><a href="/estagio/cliente/">Lista</a></li>
    		<li><a href="#tab2">Novo</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content" {if $edit == 'false'} style="display: block;" {else} style="display: none;" {/if}>
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr>
				<div class="module_content">				
					<fieldset>
						<label>Buscar</label>
						<input type="text">
                        <input type="submit" value="Buscar" style="float:left">
					</fieldset>
				</div>					
				</tr> 		
				<tr> 
   					<th></th> 
    				<th>Codigo</th> 
    				<th>Cliente</th> 
                    <th>CPF</th> 
					<th></th> 
    				<th>Ação</th> 
				</tr> 
			</thead> 
			<tbody> 
				   {foreach from = $cliente item=c}
                        <tr> 
                            <td><input type="checkbox"></td> 
                            <td>{$c->id}</td> 
                            <td>{$c->nome|upper}</td> 
                            <td>{$c->cpf|upper}</td> 

                            <td></td>  
                            <td>
                                 <a href="/estagio/cliente/novocliente/{$c->id}/edit"><img src="/estagio/static/img/icn_edit.png" /></a>
                                 <a href="/estagio/cliente/novocliente/{$c->id}/delete" onClick="return confirm('Deseja realmente excluir?');"><img src="/estagio/static/img/icn_trash.png" /></a>
                            </td> 
                        </tr> 
                  {/foreach}
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
		<div id="tab2" class="tab_content" {if $edit == 'true'} style="display: block;" {else} style="display: none;" {/if}>
				<div class="module_content">
				<div class="module_content">
          <form action="/estagio/cliente/novocliente" method="post" name="condicao" enctype="multipart/form-data">  

                {if isset($erros)} 

                  <h4 class="alert_error"  onClick="$('#alert_error').hide();">
                    Algo aconteceu errado, verifique: <br>
                       {foreach from=$erros item=erro}
                       <div style="margin-left: 10px;"> - {$erro}</div>
                       {/foreach}
                  </h4>
                {/if}           
						<fieldset style="width:900px; float:left; margin-right: 2%;">
           
                                    <label style="width:20%;float:left;">Pessoa: *</label>
                                    <label style="width:15%;float:left;"></label>
                                    <label style="width:9%; float:left;"></label>
                                    <label style="width:30%;float:left;"></label>
                                    <label style="width:15%;float:left;"></label>
                                    <div style="width:21%;float:left;margin-bottom:10px;height:30px">
                                   		<input onClick="$('#tipo_pessoa').show();$('#some').show();$('#pessoa_fisica').show();$('#pessoa_juridica').hide();$('#pessoa_fisica1').show();$('#pessoa_juridica1').hide();$('#pessoa_fisica2').show();" name="tipo_pessoa" required type="radio" value="f"  {if count($smarty.post) > 0} {if $smarty.post.tipo_pessoa == 'f'}checked{/if}{/if} {if isset($clientes)}{if $clientes->tipo_pessoa == 'f'}checked{/if}{/if}{if $edit == 'false'}checked {/if} />
                                        Física
                                        <input onClick="$('#tipo_pessoa').hide();$('#some').hide();$('#pessoa_fisica').hide();$('#pessoa_juridica').show();$('#pessoa_fisica1').hide();$('#pessoa_juridica1').show();$('#pessoa_fisica2').hide();" name="tipo_pessoa" required type="radio" value="j" {if count($smarty.post) > 0} {if $smarty.post.tipo_pessoa == 'j'}checked{/if}{/if} {if isset($clientes)}{if $clientes->tipo_pessoa == 'j'}checked{/if}{/if} />
                                        Juridica</span>
                                    </div>
                                    <label style="width:15%;float:left;"></label>
                                    <label style="width:9%; float:left;"></label>
                                    <label style="width:70%;float:left;"></label>
                            
    							<!-- Inicio primeira linha -->
                                    <label style="width:9%; float:left;">Codigo</label>
                                    <label style="width:30%;float:left;">Cliente*</label>
                                    <label style="width:15%;float:left;">Data Nascimento</label>
                                    <label style="width:40%;float:left;"><div id="pessoa_fisica1">Sexo</div></label>
                                    <input style="width:6%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" required="required" name="id" value="{if isset($clientes)}{$clientes->id}{/if}" readonly="readonly">
                                    <input style="width:28%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" required="required" maxlength="100"  onkeypress="return somente_txt(event);"  name="nome" value="{if isset($clientes)}{$clientes->nome}{/if}{if count($smarty.post) > 0}{$smarty.post.nome}{/if}" required="required">
                                    <input style="width:12%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" id="data_nascimento" name="data_nascimento" value="{if isset($clientes)}{$clientes->data_nascimento}{/if}">
                                    <div id="pessoa_fisica2" style="width:21%;float:left;margin-bottom:10px;height:30px" >
                                        <input type="radio" name="sexo" required value="m"   {if count($smarty.post) > 0} {if $smarty.post.sexo == 'm'}checked{/if}{/if}  {if isset($clientes)}{if $clientes->sexo == 'm'}checked{/if}{/if}> Masculino &nbsp;
                                        <input type="radio" name="sexo" required value="f" {if isset($clientes)}{if $clientes->sexo == 'f'}checked{/if}{/if}>  Feminino
                                    </div>       
                                     <div id="pessoa_juridica1" style="width:21%;float:left;margin-bottom:10px;height:30px" >
                                    </div>                              

                                    <label style="width:15%;float:left;"></label>
                                <!--Fim primeira linha -->                        
                             	<!-- Inicio Segunda linha -->
       								<label style="width:35%; float:left;">Logradouro*</label>
                                   <label style="width:14%;float:left;">Numero*</label>
                                    <label style="width:15%;float:left;">Complemento</label>
                                     <label style="width:30%;float:left;">Bairro*</label>
                                    <input style="width:32%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" maxlength="40"  onkeypress="return somente_txt(event);"  name="logradouro" value="{if isset($clientes)}{$clientes->logradouro}{/if}{if count($smarty.post) > 0}{$smarty.post.logradouro}{/if}"  required="required">
                                    <input style="width:12%;float:left;margin-bottom:10px"type="text" maxlength="10"  onkeypress="return SomenteNumero(event);"  name="numero"value="{if isset($clientes)}{$clientes->numero}{/if}{if count($smarty.post) > 0}{$smarty.post.numero}{/if}" required="required">
                                    <input style="width:12%;float:left; margin-bottom:10px;text-transform:uppercase;" maxlength="20" type="text" name="complemento" value="{if isset($clientes)}{$clientes->complemento}{/if}{if count($smarty.post) > 0}{$smarty.post.complemento}{/if}">
        							<input style="width:28%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" maxlength="20"  onkeypress="return somente_txt(event);"  name="bairro"value="{if isset($clientes)}{$clientes->bairro}{/if}{if count($smarty.post) > 0}{$smarty.post.bairro}{/if}" required="required">
                                   
                                <!--Fim primeira linha -->
                                <!-- Inicio Segunda linha -->
                                 <label style="width:15%; float:left;">Cep</label>
    								<label style="width:30%; float:left;">Cidade*</label>
                                    <label style="width:16%;float:left;"></label>
                                    <label style="width:30%;float:left;">Estado</label>
                                     <input style="width:12%;float:left;margin-bottom:10px"type="text" name="cep" id="cep" onkeypress="return SomenteNumero(event);" value="{if isset($clientes)}{$clientes->cep}{/if}">
                                  <a href="http://localhost/estagio/cidade/teste" rel="shadowbox;width=800;height=600;">
                                    <input style="width:6%;"type="hidden" name="cidade_id" id="cidade_id" value="{if isset($clientes)}{$clientes->cidade_id}{/if}{if count($smarty.post) > 0}{$smarty.post.cidade_id}{/if}" readonly="readonly">
                                    <input style="width:32%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" name="cidade" id="cidade"value="{if isset($clientes)}{$clientes->cidade->nome}{/if}{if count($smarty.post) > 0}{$smarty.post.cidade}{/if}" required="required" readonly="readonly">
                                    <div style="width:12%;float:left;margin-bottom:10px;height:20px; margin-left:11px" >
                                    	<input type="submit" value="Buscar" />
                                    </div> 
                                  </a>
                                 <a href="http://localhost/estagio/pais/teste" rel="shadowbox;width=800;height=600;">                                
                                    <input style="width:32%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" name="estado" id="estado" value="{if isset($clientes)}{$clientes->cidade->estado->nome}{/if}{if count($smarty.post) > 0}{$smarty.post.estado}{/if}" required="required" readonly="readonly">
                                 </a>
                                <!-- Fim Segunda linha -->     

                                
                                <!-- Inicio Quarta linha -->
                                    <label style="width:15%; float:left;">Tel. Residencial</label>
                                    <label style="width:15%;float:left;">Tel. Comercial</label>
                                    <label style="width:14%;float:left;">Celular</label>
                                    <label style="width:40%;float:left;">Email</label>
                                    <input style="width:12%;float:left;margin-bottom:10px"type="text"name="tel_residencial" id="tel" onkeypress="return SomenteNumero(event);" value="{if isset($clientes)}{$clientes->tel_residencial}{/if}{if count($smarty.post) > 0}{$smarty.post.tel_residencial}{/if}" >
                                    <input style="width:12%;float:left;margin-bottom:10px"type="text"name="tel_comercial" id="tel1" onkeypress="return SomenteNumero(event);" value="{if isset($clientes)}{$clientes->tel_comercial}{/if}{if count($smarty.post) > 0}{$smarty.post.tel_comercial}{/if}">
                                    <input style="width:12%;float:left;margin-bottom:10px"type="text"name="celular" id="tel2" value="{if isset($clientes)}{$clientes->celular}{/if}{if count($smarty.post) > 0}{$smarty.post.celular}{/if}">
                                    <input style="width:48%;float:left; margin-bottom:10px;text-transform:uppercase;" maxlength="50"  type="text"name="email" value="{if isset($clientes)}{$clientes->email}{/if}{if count($smarty.post) > 0}{$smarty.post.email}{/if}">                              
                                <!-- Fim Quarta linha -->
                                
                                <!-- Inicio Quinta linha -->
                                    <label style="width:18%; float:left;">Condição de pagamento*</label>
                                    <label style="width:22%;float:left;"></label>
                                    <label style="width:15%;float:left;">Data Cadastro</label>
                                    <label style="width:15%;float:left;">Data Alteração</label>
                                    <label style="width:24%;float:left;"></label>
                                    <a href="http://localhost/estagio/condicao_pagamento/teste" rel="shadowbox;width=800;height=600;">                  
                                     <input style="width:27%;float:left;margin-bottom:10px"type="hidden" id="condicao_pagamento_id" name="condicao_pagamento_id" value="{if isset($clientes)}{$clientes->condicao_pagamento_id}{/if}{if count($smarty.post) > 0}{$smarty.post.condicao_pagamento_id}{/if}" required="required">      
                                    <input style="width:27%;float:left;margin-bottom:10px"type="text" id="condicao_pagamento_nome" name="condicao_pagamento_nome" value="{if isset($clientes)}{$clientes->condicao_pagamento->nome}{/if}{if count($smarty.post) > 0}{$smarty.post.condicao_pagamento_nome}{/if}" required="required" readonly="">
                                    <div style="width:10%;float:left;height:30px; margin-left:11px ">
    	                                <input type="submit" value="Buscar" />
                                    </div> 
                                    </a> 
                                    <input style="width:12%;float:left;margin-bottom:10px"type="text"  name="data_cadastro" value="{if isset($clientes)}{$clientes->data_cadastro|date_format:'%D'}{/if}" readonly="readonly">
                                    <input style="width:12%;float:left; margin-bottom:10px"type="text" name="data_alteracao" value="{if isset($clientes)}{$clientes->data_alteracao|date_format:'%D'}{/if}" readonly="readonly">   
                                	 <label style="width:22%;float:left;height:40px"></label>
                                <!-- Fim Quinta linha -->
                                
                                <!-- Inicio Sexta linha -->  
                         			 <div id="pessoa_fisica">
                         					<label style="width:15%; float:left;">RG</label>
                                            <label style="width:70%;float:left;">CPF</label>
                                            <input style="width:11%;float:left;margin-bottom:10px"type="text"name="rg" maxlength="20" onkeypress="return SomenteNumero(event);" value="{if isset($clientes)}{$clientes->rg}{/if}{if count($smarty.post) > 0}{$smarty.post.rg}{/if}" >
                                            <input style="width:12%;float:left;margin-bottom:10px"type="text"name="cpf" maxlength="10" onkeypress="return SomenteNumero(event);" id="cpf" maxlength="11" value="{if isset($clientes)}{$clientes->cpf}{/if}{if count($smarty.post) > 0}{$smarty.post.cpf}{/if}" >
            						 </div>
                                    <div id="pessoa_juridica"> 
                                            <label style="width:15%; float:left;">Ins. Estadual</label>
                                            <label style="width:70%;float:left;">CNPJ</label>
                                            <input style="width:11%;float:left;margin-bottom:10px"type="text"name="insestadual" maxlength="20" onkeypress="return SomenteNumero(event);" value="{if isset($clientes)}{$clientes->insestadual}{/if}{if count($smarty.post) > 0}{$smarty.post.insestadual}{/if}" >
                                            <input style="width:12%;float:left;margin-bottom:10px"type="text"name="cnpj" id="cnpj" value="{if isset($clientes)}{$clientes->cnpj}{/if}{if count($smarty.post) > 0}{$smarty.post.cnpj}{/if}" >
             						</div>	
                               
                            <!-- Fim Sexta linha -->  
                           
                           <!-- Inicio Setima linha -->   


						</fieldset>

						
			<input type="submit" value="Salvar" style="float:left">
            
            </form>
<div class="clear"></div>
				</div>

		</div><!-- end of #tab2 -->

			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
		
		<div class="clear"></div>
		
	
	</section>


</body>

</html>