{include file="includes/topo.html"}
{include file="includes/menu.html"}
<link rel="stylesheet" type="text/css" href="http://localhost/estagio/static/js/shadowbox.css">
<script type="text/javascript" src="http://localhost/estagio/static/js/shadowbox.js"></script>
<script type="text/javascript" src="http://localhost/estagio/static/js/validacao.js"></script>
<script type="text/javascript">
Shadowbox.init({  
	language: 'pt',  
	player: ['img', 'html', 'swf']  
});
{literal}
jQuery(function($){
   $("#cpf").mask("99999999999");
   $("#cep").mask("99999-999"); 
   $("#data_nascimento").mask("9999-99-99"); 
    $("#data_admissao").mask("9999-99-99"); 
   $("#tel").mask("(99)9999-9999"); 
   $("#tel1").mask("(99)9999-9999");
   $("#tel2").mask("(99)9999-9999");
   $("#money").mask('000,00', {reverse: true});
    $("#money2").mask('000,00', {reverse: true});
 });
</script>
{/literal}

	<section id="main" class="column">
		
		<article class="module width_full">
		<header><h3 class="tabs_involved">Condição de Pagamento</h3>
		<ul class="tabs">
   			<li><a href="/estagio/condicao_pagamento/">Lista</a></li>
    		<li><a href="#tab2">Novo</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content" {if $edit == 'false'} style="display: block;" {else} style="display: none;" {/if}>
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr>
				<div class="module_content">				
					<fieldset>
						<label>Buscar</label>
						<input type="text">
                        <input type="submit" value="Buscar" style="float:left">
					</fieldset>
				</div>					
				</tr> 		
				<tr> 
   					<th></th> 
    				<th>Codigo</th> 
    				<th>Condição de pagamento</th> 
					<th></th> 
    				<th>Ação</th> 
				</tr> 
			</thead> 
			<tbody> 
	            {foreach from = $condicao_pagamento item=c}
                    <tr> 
                        <td><input type="checkbox"></td> 
                        <td>{$c->id}</td> 
                        <td>{$c->nome|upper}</td> 
                        <td></td>  
                        <td>
                             <a href="/estagio/condicao_pagamento/novocondicao_pagamento/{$c->id}/edit"><img src="/estagio/static/img/icn_edit.png" /></a>
                             <a href="/estagio/condicao_pagamento/novocondicao_pagamento/{$c->id}/delete" onClick="return confirm('Deseja realmente excluir?');"><img src="/estagio/static/img/icn_trash.png" /></a>
                        </td> 
                    </tr> 
              {/foreach}
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
		<div id="tab2" class="tab_content" {if $edit == 'true'} style="display: block;" {else} style="display: none;" {/if}>
				<div class="module_content">
              <form action="/estagio/condicao_pagamento/novocondicao_pagamento" method="post" name="condicao" enctype="multipart/form-data">    
						<fieldset style="width:900px; float:left; margin-right: 2%;">
							<!-- Inicio primeira linha -->
                                <label style="width:9%; float:left;">Codigo</label>
                                <label style="width:35%;float:left;">Condição de Pagamento*</label>
                                <label style="width:50%;float:left;">Taxa de Juros</label>
                                <input style="width:6%;float:left;margin-bottom:10px"type="text" name="codigo" id="codigo" value="{if isset($condicao_pagamentos)}{$condicao_pagamentos->id}{/if}" readonly="readonly">
                                <input style="width:32%;float:left;margin-bottom:10px;text-transform:uppercase;"type="text" required="required" maxlength="40" name="nome" id="nome"  value="{if isset($condicao_pagamentos)}{$condicao_pagamentos->nome}{/if}" required="required">
                                <input style="width:28%;float:left;margin-bottom:10px"  onkeypress="return SomenteNumero(event);"  type="text" name="juros" id="money" value="{if isset($condicao_pagamentos)}{$condicao_pagamentos->taxa}{/if}" required="required">
 
                            <!--Fim primeira linha -->                        
                         	<!-- Inicio primeira linha -->
                             
                                <label style="width:35%; float:left;">Forma de Pagamento</label>
                                <label style="width:60%;float:left;"></label>
                               
                                 <a href="http://localhost/estagio/forma_pagamento/teste" rel="shadowbox;width=800;height=600;">
                                  <input style="width:6%;"type="hidden" name="forma_pagamento_id" id="forma_pagamento_id" value="{if isset($condicao_pagamentos)}{$condicao_pagamentos->forma_pagamento_id}{/if}" readonly="readonly">
                                  <input style="width:48%"type="text" name="forma_pagamento_nome"  id="forma_pagamento_nome" value="{if isset($condicao_pagamentos)}{$condicao_pagamentos->forma_pagamento->nome}{/if}"  required="required" readonly="readonly">
                               <div style="width:10%;float:left;margin-bottom:10px;height:30px; margin-left:11px" >
                                	<input type="submit" value="Buscar" />
                                </div>   
                             </a>                              

                                <label style="width:60%;float:left;width: 90%; height: 10px;"></label>
            </form>
            <form action="/estagio/condicao_pagamento/novoparcelamento" method="post" name="parcelamento" enctype="multipart/form-data">    
                                <label style="width:18%; float:left;">Número*</label>
                                <label style="width:17%;float:left;">Dias*</label>
                                <label style="width:50%;float:left;">Percentual*</label>
                                <input style="width:15%;float:left;margin-bottom:10px"type="text" id="numero" name="numero" required="required">
                                <input style="width:15%;float:left;margin-bottom:10px"type="text" id="dias" name="dias" required="required">
                                <input style="width:15%;float:left;margin-bottom:10px"type="text" id="percentual" name="percentual" required="required"> 
                                <div style="width:5%;float:left;margin-bottom:10px;height:30px; margin-left:11px" >
                                	<input type="submit" value="+" onclick="document.parcelamento.submit();" />
                                </div>      
                                <div style="width:10%;float:left;margin-bottom:10px;height:30px; margin-left:11px" >
                                	<input type="submit" value="Limpar" onclick="document.parcelamento.submit();" name="limpar" />
                                </div>      
                                <label style="width:100%;float:left;"></label>                             
 			
   <div style="float:left;margin-left:10px; width:55%">	                             
		<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr>
							

							
				</tr> 		
				<tr> 
    				<th>Número</th> 
    				<th>Dias</th> 
    				<th>Percentual</th> 

				</tr> 
			</thead> 
			<tbody> 
            {if isset($parcela)}
             {foreach from = $parcela item=p}
  			<tr> 
   					
    				<td>{$p->numero}</td> 
                    <td>{$p->dias}</td> 
                    <td>{$p->percentual}%</td> 
     		</tr>
            {/foreach}
            {/if}
            
            {if isset($parcelas)}
             {foreach from = $parcelas item=p}
  			<tr> 
   					
    				<td>{$p.numero}</td> 
                    <td>{$p.dias}</td> 
                    <td>{$p.percentual}%</td> 
     		</tr>
            {/foreach}
            {/if}
			</tbody> 
            <thead> 
				<tr> 
    				<th></th> 
    				<th></th> 
    				<th>Total:  {if isset($total)} {$total}{else}0{/if}%</th> 
					<th></th> 
    				<th></th> 
				</tr> 
             </thead>            
			</table>                                
 </div>		                               
                            
						</fieldset>

	        
  </form>         
  <input type="submit" value="Salvar" style="float:left" onclick="document.condicao.submit();">
<div class="clear"></div>
				</div>

		</div><!-- end of #tab2 -->

			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
		
		<div class="clear"></div>
		
	
	</section>


</body>

</html>