{include file="includes/topo.html"}
{include file="includes/menu.html"}

	<section id="main" class="column">
		
		<article class="module width_full">
		<header><h3 class="tabs_involved">Forma de Pagamento</h3>
		<ul class="tabs">
   			<li><a href="/estagio/forma_pagamento/">Lista</a></li>
    		<li><a href="#tab2">Novo</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content" {if $edit == 'false'} style="display: block;" {else} style="display: none;" {/if}>
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr>
				<div class="module_content">				
					<fieldset>
						<label>Buscar</label>
						<input type="text">
                        <input type="submit" value="Buscar" style="float:left">
					</fieldset>
				</div>					
				</tr> 		
				<tr> 
   					<th></th> 
    				<th>Codigo</th> 
    				<th>Forma de Pagamento</th> 

					<th></th> 
    				<th>Ação</th> 
				</tr> 
			</thead> 
			<tbody> 
				 {foreach from = $forma_pagamento item=c}
                    <tr> 
                        <td><input type="checkbox"></td> 
                        <td>{$c->id}</td> 
                        <td>{$c->nome|upper}</td> 
                       	<td></td>  
                        <td>
                             <a href="/estagio/forma_pagamento/novoforma_pagamento/{$c->id}/edit"><img src="/estagio/static/img/icn_edit.png" /></a>
                             <a href="/estagio/forma_pagamento/novoforma_pagamento/{$c->id}/delete" onClick="return confirm('Deseja realmente excluir?');"><img src="/estagio/static/img/icn_trash.png" /></a>
                        </td> 
                    </tr> 
              {/foreach} 
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
		<div id="tab2" class="tab_content" {if $edit == 'true'} style="display: block;" {else} style="display: none;" {/if}>
				<div class="module_content">
            <form action="/estagio/forma_pagamento/novoforma_pagamento" method="post" enctype="multipart/form-data">    
                <fieldset style="float: left; margin-right: 2%; width: 400px;">
                    <label style="float: left; width: 17%;" >Codigo</label>
                    <label style="float: left; width: 70%;">Forma de Pagamento*</label>
                    <input type="text" name="id" id="id" style="float: left; margin-bottom: 10px; width: 11%;"  value="{if isset($forma_pagamentos)}{$forma_pagamentos->id}{/if}" readonly="readonly">
                    <input type="text" required="required" name="nome" id="nome" maxlength="40" style="float: left; margin-bottom: 10px; width: 70%;text-transform:uppercase" value="{if isset($forma_pagamentos)}{$forma_pagamentos->nome}{/if}">
                </fieldset>

						
			<input type="submit" value="Salvar" style="float:left">
            
            </form>
<div class="clear"></div>
				</div>

		</div><!-- end of #tab2 -->

			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
		
		<div class="clear"></div>
		
	
	</section>


</body>

</html>