/* CSS Document */

body{
	background:url('http://localhost/radiocidadev1/static/img/login/bg_login.jpg') no-repeat;	
	font-family: 'Titillium Web', sans-serif;
}
.caixa_login{
		background:#BDC6CD;
		border:3px solid #FFF;
		border-radius:5px;
}
	
	/*Caixas de logar*/
	.caixa_login input[type=text], input[type=password]{
		background:#C2CDD3;
		border:1px solid #7C8388;
		border-radius:5px;
		padding:10px;	
		font-size:14px;
		color:#FFF;
		font-family: 'Titillium Web', sans-serif;
	}
		.caixa_login input[type=text]:hover, input[type=password]:hover{
			background:#DEE3E7;
			border:1px solid #7C8388;
			border-radius:5px;
			padding:10px;	
			font-size:14px;
			color:#000;
			font-family: 'Titillium Web', sans-serif;
			}
		.caixa_admin {
			background:#CCCCCC;
			border:3px solid #AAAAAA;
			border-radius:5px;
		}
	/*Botão logar*/
	.bt_logar{
		background:#B9D972;	
		border:1px solid #769728;
		border-radius:5px;
		padding:10px;
		font-size:18px;
		text-align:center;
		color:#769728;
	}

		.bt_logar:hover{
			background:#8AB130;	
			border:1px solid #769728;
			border-radius:5px;
			padding:10px;
			font-size:18px;
			text-align:center;
			color:#fff;
			cursor:pointer;
		}

	.msg_powered{
		font-size:12px;
		color:#FFF;
		text-align:center;
	}	
		.msg_powered a{
			text-decoration:none;
			color:#FFF;	
		}
		.msg_powered a:hover{
			text-decoration:underline;
			color:#FFF;	
		}
		
		
		
		/*Topo Admin*/
		
	.topo_admin{
		font-size:15px;
		color:#333;
		height:50px;
		text-align:right;
		line-height:40px;
		padding:10px;	
	}
	
	/*Menu Admin*/
	.menu_admin{
		font-size:14px;
		float:left;
		width:200px;	
	}
		
		.bt_cinza_menu_admin{
			background:#F9f9f9;
			width:180px;
			font-size:14px;
			margin-bottom:5px;	
			padding:5px;
			margin-left:5px;	
			border-radius:5px;
			border:1px solid #AAAAAA;
			text-align:center;
		}
		.bt_cinza_menu_admin:hover{
			background:#9BA8B3;
			border:1px solid #666;
			color:#FFF;
		}
			.menu_admin a{
				text-decoration:none;
				color:#666;
			}
			.menu_admin a:hover{
				text-decoration:none;
				color:#666;
			}
	
	/*Pedido Musical*/
	.conteudo_admin{
		float:left;
		width:740px;
		color:#333;
		font-size:14px;
		text-align:center;
	}
		.formulario_pedido{
			font-size:14px;
			color:#666;	
		}
			.formulario_pedido input[type=text], select, .formulario_pedido input[type=file], textarea, file{
				background:#C2CDD3;
				border:1px solid #666;
				border-radius:3px;
				font-size:14px;
				color:#333333;
				font-family: 'Titillium Web', sans-serif;
			}
			.style_file{
				background:#C2CDD3;
				border:1px solid #666;
				border-radius:3px;
				font-size:14px;
				color:#333333;
				font-family: 'Titillium Web', sans-serif;
			}
		.conteudo_tabelas{
			font-size:14px;
			color:#fff;	
		}	
			.formulario_pedido input[type=submit]{
				background:#B9D972;	
				border:1px solid #769728;
				border-radius:3px;
				font-size:14px;
				text-align:center;
				color:#333333;
				padding:2px;	
			}